<IfModule mod_rewrite.c>

Options +FollowSymlinks
RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^weight-converter/(.*)$ ?action=weight-converter&converter=$1 [L]
#RewriteRule ^(.*)\.htm$ $1.php [L]
#RewriteRule ^=([^/\.]+)/?$ $1 

RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

</IfModule>
