				<article>
					<header>
						<h3>Fahrenheit</h3>
						<a href="http://en.wikipedia.org/wiki/Fahrenheit">Read more about Fahrenheit</a>
					</header>
					<section>
						<p>Fahrenheit (symbol °F) is a temperature scale based on one proposed in 1724 by the physicist Daniel Gabriel Fahrenheit (1686–1736), after whom the scale is named. Within this scale, the freezing of water into ice is defined at 32 degrees, while the boiling point of water is defined to be 212 degreeson Fahrenheit's original scale the freezing point of brine was zero degrees.</p>
						<p>By the end of the 20th century, most countries used the Celsius scale rather than the Fahrenheit scale, though Canada retains it as a supplementary scale that can be used alongside Celsius. Fahrenheit remains the official scale for the following countries: United States, Cayman Islands, Palau, Bahamas and Belize. The Rankine temperature scale was based upon the Fahrenheit temperature scale, with its zero representing absolute zero instead.</p>
					</section>
				</article>