				<article>
					<header>
						<h3>Kelvin</h3>
						<a href="http://en.wikipedia.org/wiki/Kelvin">Read more about Kelvin</a>
					</header>
					<section>
						<p>The kelvin is a unit of measurement for temperature. It is one of the seven base units in the International System of Units (SI) and is assigned the unit symbol K. The Kelvin scale is an absolute, thermodynamic temperature scale using as its null point absolute zero, the temperature at which all thermal motion ceases in the classical description of thermodynamics. The kelvin is defined as the fraction 1⁄273.16 of the thermodynamic temperature of the triple point of water (exactly 0.01 °C or 32.018 °F).</p>
						<p>The Kelvin scale is named after the Belfast-born, Glasgow University engineer and physicist William Thomson, 1st Baron Kelvin (1824–1907), who wrote of the need for an "absolute thermometric scale". Unlike the degree Fahrenheit and degree Celsius, the kelvin is not referred to or typeset as a degree. The kelvin is the primary unit of measurement in the physical sciences, but is often used in conjunction with the degree Celsius, which has the same magnitude. Subtracting 273.16 K from the temperature of the triple point of water (0.01 °C) makes absolute zero (0 K) equivalent to −273.15 °C (−459.67 °F).</p>
					</section>
				</article>