				<article>
					<header>
						<h3>Kilogram (Kg)</h3>
						<a href="#">Read more about Kilogram</a>
					</header>
					<section>
						<p>The kilogram or kilogramme (SI unit symbol: kg; SI dimension symbol: M), is the base unit of mass in the International System of Units (SI) and is defined as being equal to the mass of the International Prototype of the Kilogram (IPK).[2] The avoirdupois (or international) pound, used in both the Imperial system and U.S. customary units, is defined as exactly 0.45359237 kg, making one kilogram approximately equal to 2.2046 avoirdupois pounds.</p>
						<p>The gram was originally defined in 1795 as the mass of one cubic centimeter of water at 4°C, making the kilogram equal to the mass of one liter of water. The prototype kilogram, manufactured in 1799 and from which the current kilogram is based has a mass equal to the mass of 1.000025 liters of water.</p>
						<p>The kilogram is the only SI base unit with an SI prefix ("kilo", symbol "k") as part of its name. It is also the only SI unit that is still directly defined by an artifact rather than a fundamental physical property that can be reproduced in different laboratories. Four of the seven base units in the SI system are defined relative to the kilogram so its stability is important.</p>
					</section>
				</article>