				<article>
					<header>
						<h3>Knot (unit)</h3>
						<a href="http://en.wikipedia.org/wiki/Knot_(unit)">Read more about Knot</a>
					</header>
					<section>
						<p>The knot (pronounced not) is a unit of speed equal to one nautical mile (1.852 km) per hour, approximately 1.151 mph. The ISO Standard symbol for the knot is kn. The same symbol is preferred by the IEEE; kt and NMPH are also seen. The knot is a non-SI unit and not accepted for use with the International System of Units (SI). Worldwide, the knot is used in meteorology, and in maritime and air navigation—for example, a vessel travelling at 1 knot along a meridian travels approximately one minute of geographic latitude in one hour.</p>
						<p>Etymologically, the term derives from counting the number of knots in the line that unspooled from the reel of a chip log in a specific time.</p>
					</section>
				</article>