				<article>
					<header>
						<h3>Long Ton</h3>
						<a href="en.wikipedia.org/wiki/Long_ton">Read more about Long Ton</a>
					</header>
					<section>
						<p>Long ton (weight ton or Imperial ton) is the name for the unit called the "ton" in the avoirdupois or Imperial system of measurements that was used in the United Kingdom and several otherCommonwealth countries before metrication. One long ton is equal to 2,240 pounds (1,016 kg), 12% larger than a short ton and 1.6% larger than the 1,000 kilograms (2,205 lb) metric tonne, or 35 cubic feet (0.9911 m3) of salt water with a density of 64 lb/cu ft (1.025 g/ml).[1] It has some limited use in the United States, most commonly in measuring the displacement of ships, and was the unit prescribed for warships by the Washington Naval Treaty 1922—for example battleships were limited to a mass of 35,000 long tons (36,000 t; 39,000 short tons).</p>
						<p>The Imperial ton was explicitly excluded from use for trade in the United Kingdom by the Weights and Measures Act 1985.</p>
					</section>
				</article>