				<article>
					<header>
						<h3>Miles per Hour</h3>
						<a href="http://en.wikipedia.org/wiki/Miles_per_hour">Read more about Miles/Hour</a>
					</header>
					<section>
						<p>Miles per hour is an imperial unit of speed expressing the number of statute miles covered in one hour. It is currently the standard unit used for speed limits, and to express speeds generally, on roads in the United Kingdom and the United States. It is also often used to express the speed of delivery of a ball in various sporting events, such as cricket, tennis, and baseball. A common abbreviation is mph or MPH.</p>
						<p>In the International System of Units (SI), the basic unit of speed or velocity is m/s. Road traffic speeds in most countries are quoted in km/h. Occasionally, however, both systems are used: for example, in Ireland, a judge considered a speeding case by examining speeds in both kilometres per hour and miles per hour. The judge was quoted as saying the speed seemed "very excessive" at 180 km/h but did not look "as bad" at 112 mph; a reduced fine was still imposed on the speeding driver.</p>
						<p>Nautical and aeronautical applications, however, favour the knot as a common unit of speed: one knot is one nautical mile per hour.</p>
					</section>
				</article>