				<article>
					<header>
						<h3>Ounce</h3>
						<a href="en.wikipedia.org/wiki/Ounce">Read more about Ounce</a>
					</header>
					<section>
						<p>The ounce (abbreviated oz, from the former Italian word onza, now spelled oncia; apothecary symbol: ℥) is a unit of mass with several definitions, the most commonly used of which is equal to approximately 28 grams. The ounce is used in a number of different systems, including those of mass that form part of the United States customary, and imperial, systems. The size of an ounce varies between systems. The most commonly used ounces today are the international avoirdupois ounce and the international troy ounce.</p>
					</section>
				</article>