<article>
	<header>
		<h3>Pound (currency)</h3>
		<a href="http://en.wikipedia.org/wiki/Pound_(currency)">Read more about Pound</a>
	</header>
	<section>
		<p>The pound is a unit of currency in some nations. The term originated in Great Britain as the value of a pound (weight) of silver.</p>
		<p>The word pound is the English translation of the Latin word libra, which was the unit of account of the Roman Empire. The British pound derived from the Roman libra, which is why the pound (mass) is often initialised to 'lb'; along with the French livre, the Italian lira and the Portuguese Libra, when, during Middle Ages the European countries adopted the LSD system.</p>
		<p>The currency's symbol is £. Historically, £1 worth of silver coins were a troy pound in weight; as of April 2011 this amount of silver is worth approximately £300 sterling.</p>
		<p>Today, the term may refer to a number of (primarily British and related) currencies, and a variety of now-obsolete currencies. Some of them, those official in former Italian states and in countries formerly belonging to the Ottoman Empire, are called pound in English, while in the local languages their official name is lira.</p>
	</section>
</article>