				<article>
					<header>
						<h3>Short Tone</h3>
						<a href="http://en.wikipedia.org/wiki/Short_ton">Read more about Short Tone</a>
					</header>
					<section>
						<p>The short ton is a unit of mass equal to 2,000 pounds (907.18474 kg), that is most commonly used in the United States – known there simply as the ton.</p>
						<p>In the United States, a short ton is usually known simply as a "ton", without distinguishing it from the tonne (1,000 kilograms or 2,204.62262 pounds, known there as the "metric ton"), or thelong ton (2,240 pounds or 1,016.0469088 kilograms, known there as the "Imperial ton"). When one of the latter two are intended, they are specifically noted. There are, however, some U.S. applications for which unspecified tons normally means long tons (for example, Navy ships) or metric tons (world grain production figures).</p>
						<p>Both the long and short ton are defined as 20 hundredweights, but a hundredweight is 100 pounds (45.359237 kg) in the U.S. system (short or net hundredweight) and 112 pounds (50.80234544 kg) in the imperial system (long or gross hundredweight).</p>
						<p>A short ton–force is 2,000 pounds-force (8,896.443230521 N).</p>
						<p>In the UK, short tons are rarely used. The word "ton" is taken to refer to a long ton, and metric tons are distinguished by the "tonne" spelling. Most Commonwealth countries followed British practice with the exception of Canada, which used short tons as well as long tons. Canada now uses metric tonnes.</p>
					</section>
				</article>