				<article>
					<header>
						<h3>Stone (unit)</h3>
						<a href="en.wikipedia.org/wiki/Stone_(unit)">Read more about Stone (unit)</a>
					</header>
					<section>
						<p>The stone (abbreviation st) is an informal unit of measure equal to 14 pounds avoirdupois (about 6.35 kg) used in Great Britain and Ireland for measuring human body weight. The stone was formerly used for purposes of trade in many North-West European countries where its value ranged from about 5 to 40 local pounds (3 to 15 kg); but, with the advent of metrication from the mid-19th century onwards, it was superseded by the kilogram. Use of the stone for trade in the United Kingdom and in Ireland was prohibited by the Weights and Measures Act 1985.</p>
					</section>
				</article>