<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="header-container">
    <header class="wrapper">
        <span><a href="<!--{$applicationPath}-->">Online Conversion</a></span>
        <!--{*<ul>
        	<li>
				<!-- Place this tag where you want the widget to render. -->		
				<div class="g-follow" data-annotation="vertical-bubble" data-height="24" data-href="https://plus.google.com/111589600341789908382" data-rel="publisher"></div>
			</li>
		</ul>
		*}-->
    </header>
</div>
<div class="main-nav">
	<nav class="wrapper">
		<a href="<!--{$applicationPath}-->weight-converter/pound-to-kilogram">Weight Converter</a>
		<a href="<!--{$applicationPath}-->speed-converter/miles-per-hour-to-feet-per-sec">Speed Converter</a>
		<a href="<!--{$applicationPath}-->temprature-converter/kelvin-to-fahrenheit">Tempreture Converter</a>
		<a href="<!--{$applicationPath}-->length-converter/kilometer-to-centimeter">Lenght Converter</a>
		<a href="<!--{$applicationPath}-->area-converter/square-km-to-square-foot">Area Converter</a>
		<a href="<!--{$applicationPath}-->time-converter/nanosecond-to-microsecond">Time Converter</a>
	</nav>
	<!--{*<ul class="wrapper">
		<li>
			<a href="#">Unit Conversions</a>
			<ul class="sub-cat">
				<li><a href="<!--{$applicationPath}-->weight-converter/pound-to-kilogram">Weight Converter</a></li>
				<li><a href="<!--{$applicationPath}-->speed-converter/miles-per-hour-to-feet-per-sec">Speed Converter</a></li>
				<li><a href="<!--{$applicationPath}-->temprature-converter/kelvin-to-fahrenheit">Tempreture Converter</a></li>
				<li><a href="<!--{$applicationPath}-->length-converter/kilometer-to-centimeter">Lenght Converter</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Health Calculators</a>
			<ul class="sub-cat">
				<li><a href="#">BMI Calculater</a></li>
				<li><a href="#">BMR Calculater</a></li>
			</ul>
		</li>
	</ul>*}-->
</div>

