				<article>
					<header>
						<h3>Acre</h3>
						<a href="http://en.wikipedia.org/wiki/Acre">Read more about Acre</a>
					</header>
					<section>
						<p>The acre is a unit of area used in the imperial and U.S. customary systems. An acre is about 40% of a hectare – slightly smaller than an American football field. The acre is no longer commonly used in most countries, although a few notable exceptions include the United States, Australia, India, Pakistan, Burma and the United Kingdom (as of 2010, the acre is no longer officially used in the United Kingdom, though is still used in real estate descriptions). It is still used, to some extent, in Canada.</p>
						<p>The international symbol of the acre is ac, and is defined as 1/640 of a square mile. The most commonly used acre today is the international acre. In the United States both the international acre and the slightly different US survey acre are in use. The most common use of the acre is to measure tracts of land. One international acre is defined as exactly 4046.8564224 square metres.</p>
						<p>During the Middle Ages, an acre was the amount of land that could be plowed in one day with a yoke of oxen and measured by one chain in width (22 yards), and one furlong, or 10 chains in length (220 yards), yielding 4840 square yards.</p>
					</section>
				</article>