				<article>
					<header>
						<h3>Centimeter</h3>
						<a href="http://en.wikipedia.org/wiki/Centimeter">Read more about Centimeter</a>
					</header>
					<section>
						<p>A centimetre (International spelling as used by the International Bureau of Weights and Measures; symbol cm) or centimeter (American spelling) is a unit of length in the metric system, equal to one hundredth of a metre, which is the SI base unit of length. Centi is the SI prefix for a factor of 10-2.[1] Hence a centimetre can be written as 1×10-2 m, 10×10-3 m (engineering notation) or 1E-2 m (scientific E notation) — meaning 10 mm or 1 m/100 respectively. The centimetre is the base unit of length in the now deprecated centimetre-gram-second (CGS) system of units.</p>
						<p>Though for many physical quantities, SI prefixes for factors of 103—like milli- and kilo-—are often preferred by technicians, the centimetre remains a practical unit of length for many everyday measurements. A centimetre is approximately the width of the fingernail of an adult person (between 3/8 in and 7/16 inch on an English inch ruler).</p>
					</section>
				</article>