				<article>
					<header>
						<h3>Feet Per Second</h3>
						<a href="http://en.wikipedia.org/wiki/Foot_per_second">Read more about Feet/Sec</a>
					</header>
					<section>
						<p>The foot per second (plural feet per second) is a unit of both speed (scalar) and velocity (vector quantity, which includes direction). It expresses the distance in feet (ft) traveled or displaced, divided by the time in seconds (s, or sec). The corresponding unit in the International System of Units (SI) is the metre per second.</p>
						<p>Abbreviations include ft/s, ft/sec and fps, and the rarely used scientific notation ft s<sup>-1</sup>.</p>
					</section>
				</article>