				<article>
					<header>
						<h3>Foot (unit)</h3>
						<a href="http://en.wikipedia.org/wiki/Foot_(unit)">Read more about Foot (unit)</a>
					</header>
					<section>
						<p>A foot (plural: feet; abbreviation or symbol: ft or ' (the prime symbol) is a unit of length equal to 1/3 of a yard or 12 inches, and is part of the systems of Imperial units and United States customary units.</p>
						<p>Historically, other units of length also called the foot were part of a number of other systems of units, including those in ancient Greece, ancient Rome, England, Scotland and many Continental European countries. However the size of the measure varied from country to country and in some cases from city to city, mostly from about 250 mm to about 335 mm. These units were also generally subdivided into 12 inches.</p>
						<p>The United States is the only industrialized nation that uses the foot in preference to the meter in its commercial, engineering and standards activities. The foot is still legally recognized as an alternative expression of length in Canada and is also still commonly used in the United Kingdom, although both countries also use metric units. The foot is the internationally agreed unit of measurement for altitude in aviation.</p>
					</section>
				</article>