				<article>
					<header>
						<h3>Gigabit</h3>
						<a href="http://en.wikipedia.org/wiki/Gigabit">Read more about Gigabit</a>
					</header>
					<section>
						<p>The gigabit is a multiple of the unit bit for digital information or computer storage. The prefix giga (symbol G) is defined in the International System of Units (SI) as a multiplier of 10<sup>9</sup> (1 billion, short scale), and therefore</p>
						<p>1 gigabit = 10<sup>9</sup>bits = 1000000000bits.</p>
						<p>The gigabit has the unit symbol Gbit or Gb.</p>
						<p>Using the common byte size of 8 bits, 1 Gbit is equal to 125 megabytes (MB) or approximately 119 mebibytes (MiB).</p>
						<p>The gigabit is closely related to the gibibit, a unit multiple derived from the binary prefix gibi (symbol Gi) of the same order of magnitude, which is equal to 2<sup>30</sup>bits = 1073741824bits, or approximately 7% larger than the gigabit.</p>
					</section>
				</article>