				<article>
					<header>
						<h3>Gram</h3>
						<a href="https://en.wikipedia.org/wiki/Gram">Read more about Gram</a>
					</header>
					<section>
						<p>The gram (alternative British English spelling: gramme; SI unit symbol: g) (Greek/Latin root grámma) is a metric system unit of mass.</p>
						<p>Originally defined as "the absolute weight of a volume of pure water equal to the cube of the hundredth part of a metre, and at the temperature of melting ice” (later 4 °C), a gram is now defined as one one-thousandth of the SI base unit, the kilogram, or 1×10−3 kg, which itself is defined as being equal to the mass of a physical prototype preserved by the International Bureau of Weights and Measures.</p>
					</section>
				</article>