				<article>
					<header>
						<h3>Hectare</h3>
						<a href="http://en.wikipedia.org/wiki/Hectare">Read more about Hectare</a>
					</header>
					<section>
						<p>The hectare (/ˈhɛktɛər/ or /ˈhɛktɑr/; symbol ha) is a metric unit of area defined as 10,000 square metres (100 m by 100 m), and primarily used in the measurement of land. In 1795, when the metric system was introduced, the 'are' was defined as 100 square metres and the hectare ('hecto-' + 'are') was thus 100 'ares' or 1/100 km<sup>2</sup>. A hectare of land is about 2.471 acres.
						<p>When the metric system was further rationalised in 1960, resulting in the International System of Units (SI), the are was not included as a recognised unit. The hectare is one of the non-SI units accepted for use with the SI units.</p>
					</section>
				</article>