				<article>
					<header>
						<h3>Inch</h3>
						<a href="http://en.wikipedia.org/wiki/Inch">Read more about Inch</a>
					</header>
					<section>
						<p>An inch (plural: inches; abbreviation or symbol: in or ? - a double prime) is a unit of length in the imperial and United States customary systems of measurement. Historically an inch was also used in a number of other systems of units. Traditional standards for the exact length of an inch have varied in the past, but now the imperial or US customary inch is defined to be exactly 25.4 mm. There are 12 inches in a foot and therefore 36 inches in a yard.</p>
					</section>
				</article>