				<article>
					<header>
						<h3>Kilobit</h3>
						<a href="http://en.wikipedia.org/wiki/Kilobit">Read more about Kilobit</a>
					</header>
					<section>
						<p>The kilobit is a multiple of the unit bit for digital information or computer storage. The prefix kilo (symbol k) is defined in the International System of Units (SI) as a multiplier of 10<sup>3</sup> (1 thousand), and therefore,</p>
						<p>1 kilobit = 10<sup>3</sup>bits = 1000bits.</p>
						<p>The kilobit has the unit symbol kbit or kb.</p>
						<p>Using the common byte size of 8 bits, 1 kbit is equal to 125 bytes.</p>
						<p>The kilobit is closely related to the kibibit, a unit multiple derived from the binary prefix kibi (symbol Ki) of the same order of magnitude, which is equal to 2<sup>10</sup>bits = 1024bits, or approximately 2% larger than the kilobit. Despite the definitions of these new prefixes for binary-based quantities of storage by international standards organizations, memory semiconductor chips are still marketed using the metric prefix names to designate binary multiples.</p>
						<p>The kilobit is most commonly used in the expression of data rates of digital communication circuits as kilobits per second (kbit/s or kb/s), or abbreviated as kbps, as in, for example, a 56 kbps PSTN circuit, or a 512 kbit/s broadband Internet connection.</p>
						<p>The unit symbol kb is typographically similar to unit symbols of the kilobyte, i.e. kB, with an upper case B. The International Electrotechnical Commission (IEC) therefore recommends the symbol bit instead of b. The prefix kilo is often used in fields of computer science and information technology with a meaning of multiplication by 1024 instead of 1000, contrary to international standards, in conjunction with the base unit byte and bit, in which case it is to be written as Ki, with a capital letter K, e.g., Kibit and KiB. The decimal SI definition, 1 kbit/s = 1000 bit/s, is used uniformly in the context of telecommunication transmission speeds .</p>
					</section>
				</article>