				<article>
					<header>
						<h3>Kilometer</h3>
						<a href="http://en.wikipedia.org/wiki/Kilometer">Read more about Kilometer</a>
					</header>
					<section>
						<p>The kilometre (International spelling as used by the International Bureau of Weights and Measures; SI symbol: km) or kilometer (American spelling) is a unit of length in the metric system, equal to one thousand metres (kilo- being the SI prefix for 1000). It is now the measurement unit used officially for expressing distances between geographical places on land in most of the world; notable exceptions are the United States and the United Kingdom where the statute mile is the official unit used.</p>
						<p>k (pronounced kay) is occasionally used in some English-speaking countries as an alternative for the word kilometre in everyday colloquialised writing and speech. A slang term for the kilometre in the U.S. military is klick.</p>
					</section>
				</article>