				<article>
					<header>
						<h3>Kilobyte</h3>
						<a href="http://en.wikipedia.org/wiki/Kilobyte">Read more about Kilobyte</a>
					</header>
					<section>
						<p>The kilobyte (symbol: kB) is a multiple of the unit byte for digital information. Although the prefix kilo- means 1000, the term kilobyte and symbol kB (also KB) have historically been used to refer to either 1024 (2<sup>10</sup>) bytes or 1000 (10<sup>3</sup>) bytes, dependent upon context, in the fields of computer science and information technology.</p>
					</section>
				</article>