				<article>
					<header>
						<h3>Kilometres Per Hour</h3>
						<a href="http://en.wikipedia.org/wiki/Kilometer_per_hour">Read more about Km/Hour</a>
					</header>
					<section>
						<p>The kilometre per hour (American English: kilometer per hour) is a unit of speed, expressing the number of kilometres travelled in one hour. The unit symbol is km/h or km·h<sup>-1</sup>.</p>
						<p>Worldwide, the km/h is the most commonly used speed unit on road signs and car speedometers. Along with the kilowatt hour, km/h is the most commonly used metric unit based on the hour. Although the "hour" is not an SI unit, it is accepted for use with the International System of Units by the International Bureau of Weights and Measures (BIPM).</p>
						<p>In Australian, South African and North American slang and military usage, km/h is commonly pronounced, and sometimes even written, as klicks or kays (K's), although these may also be used to refer to kilometres.</p>
					</section>
				</article>