				<article>
					<header>
						<h3>Mcg/Microgram</h3>
						<a href="http://en.wikipedia.org/wiki/McG">Read more about Mcg</a>
					</header>
					<section>
						<p>In the metric system, a microgram (µg or mcg) is a unit of mass equal to one millionth (1/1,000,000) of a gram (1 × 10−6), or 1/1000 of a milligram. It is one of the smallest units of mass (or weight) used in a macroscopic context. The symbol "µg" (mu-g) conforms to the International System of Units and is often used in scientific literature, but the United States-based JCAHOrecommends that hospitals do not use this symbol in handwritten orders due to the risk that the symbol µ might be misread as the prefix m, resulting in a thousandfold overdose. The abbreviationmcg is recommended instead.</p>
					</section>
				</article>