				<article>
					<header>
						<h3>Megabit</h3>
						<a href="http://en.wikipedia.org/wiki/Megabit">Read more about Megabit</a>
					</header>
					<section>
						<p>The megabit is a multiple of the unit bit for digital information or computer storage. The prefix mega (symbol M) is defined in the International System of Units (SI) as a multiplier of 10<sup>6</sup> (1 million),[1] and therefore</p>
						<p>1 megabit = 10<sup>6</sup>bits = 1000000bits = 1000 kilobits.</p>
						<p>The megabit has the unit symbol Mb or Mbit.</p>
						<p>Using the common byte size of 8 bits, 1 megabit is roughly equal to 125 kilobytes (kB) or approximately 122 kibibytes (KiB).</p>
						<p>The megabit is closely related to the mebibit, a unit multiple derived from the binary prefix mebi (symbol Mi) of the same order of magnitude,[2] which is equal to 2<sup>20</sup>bits = 1048576bits, or approximately 5% larger than the megabit. Despite the definitions of these new prefixes for binary-based quantities of storage by international standards organizations, memory semiconductor chips are still marketed using the metric prefix names to designate binary multiples.</p>
						<p>The megabit is widely used when referring to data transfer rates of computer networks or telecommunications systems. Network transfer rates and download speeds often use the megabit as the amount transferred per time unit, e.g., a 100 Mbit/s (megabit per second) Fast-Ethernet connection, or a 10 Mbit/s Internet access service, whereas the sizes of data units (files) transferred over these networks are often measured in megabytes. To achieve a transfer rate of one megabyte (1024kB) per second one needs a network connection with a transfer rate of eight megabits per second. This can be confusing for internet users assuming the values are in kilobytes and megabytes per second. If one goes to buy a 2 megabit per second internet plan, they are really only getting a 250 kilobyte (.25 MB) per second plan.</p>
					</section>
				</article>