				<article>
					<header>
						<h3>Megabyte</h3>
						<a href="http://en.wikipedia.org/wiki/Megabyte">Read more about Megabyte</a>
					</header>
					<section>
						<p>The megabyte (symbol MB, sometimes abbreviated as Mbyte) is a multiple of the unit byte for digital information storage or transmission with three different values depending on context: 1048576 bytes (2<sup>20</sup>) generally for computer memory; one million bytes (10<sup>6</sup>, see prefix mega-) generally for computer storage; and in rare cases 1000×1024 (1024000) bytes. The IEEE Standards Board has confirmed that mega- means 1000000, with exceptions allowed for the base-two meaning if defined explicitly.</p>
					</section>
				</article>