				<article>
					<header>
						<h3>Meters per Second</h3>
						<a href="http://en.wikipedia.org/wiki/Metre_per_second">Read more about m/sec</a>
					</header>
					<section>
						<p>Metre per second (U.S. spelling: meter per second) is an SI derived unit of both speed (scalar) and velocity (vector quantity which specifies both magnitude and a specific direction), defined by distance in metres divided by time in seconds.</p>
						<p>The SI unit symbols are m·s<sup>-1</sup>, m s<sup>-1</sup>, m/s. Where metres per second are several orders of magnitude too slow to be convenient, such as in astronomical measurements, velocities may be given in kilometres per second, where 1 km/s is 1000 metres per second.</p>
					</section>
				</article>