				<article>
					<header>
						<h3>Meter</h3>
						<a href="http://en.wikipedia.org/wiki/Meter">Read more about Meter</a>
					</header>
					<section>
						<p>The metre (International spelling as used by the International Bureau of Weights and Measures) or meter (American spelling), (SI unit symbol: m; SI dimension symbol: L), is the fundamental unit of length in the International System of Units (SI). Originally intended to be one ten-millionth of the distance from the Earth's equator to the North Pole (at sea level), its definition has been periodically refined to reflect growing knowledge of metrology. Since 1983, it has been defined as "the length of the path travelled by light in vacuum during a time interval of 1/299,792,458 of a second."</p>
					</section>
				</article>