				<article>
					<header>
						<h3>Ton/Metric Ton</h3>
						<a href="https://en.wikipedia.org/wiki/Tonne">Read more about Tone/Metric Ton</a>
					</header>
					<section>
						<p>The ton is a unit of measure. It has a long history and has acquired a number of meanings and uses over the years. It is used principally as a unit of weight, and as a unit of volume. It can also be used as a measure of energy, for truck classification, or as a colloquial term.</p>
						<p>It is derived from the tun, the term applied to a barrel of the largest size. This could contain a volume between 210 and 256 gallons (800 to 1000 L), which could weigh around 2,000 pounds(900 kg) and occupy some 60 cubic feet (1.7 m3) of space.</p>
						<p>In the United Kingdom the ton is defined as 2,240 pounds (1,016 kg) (avoirdupois pounds). From 1965 the UK embarked upon a programme of metrication and gradually introduced metric units, including the tonne (metric ton), a non-SI metric unit defined as 1000 kg. The UK Weights and Measures Act 1985 explicitly excluded from use for trade many units and terms, including the ton and the term "metric ton" for "tonne”</p>
						<p>In the United States and formerly Canada a ton is defined to be 2,000 pounds (907 kg).</p>
						<p>Where confusion is possible, the 2240 lb ton is called "long ton" and the 2000 lb ton "short ton"; the tonne is distinguished by its spelling, but usually pronounced the same as ton, hence the US term "metric ton". In the UK the final "e" of "tonne" can also be pronounced (/ˈtʌnɪ/), or "metric ton" when it is necessary to make the distinction.</p>
						<p>Where accuracy is required the correct term must be used, but for many purposes this is not necessary: the metric and long tons differ by only 1.6%, and the short ton is within 11% of both. The ton is the heaviest unit of weight referred to in colloquial speech.</p>
						<p>The term "ton" is also used to refer to a number of units of volume, ranging from 35 to 100 cubic feet (0.99 to 2.8 m3) in capacity.</p>
						<p>It can also be used as a unit of energy, expressed as an equivalent of coal burnt or TNT detonated.</p>
						<p>In refrigeration, a ton is a unit of power. It is the power required to melt or freeze one short ton of ice per day. The refrigeration ton·hour is a unit of energy, the energy required to melt or freeze 1⁄24short ton of ice.</p>
						<p>In Britain, ton is used in slang in several contexts to mean "100". As a cost or a speed, a ton is widely understood to be £100 or 100 mph.</p>
					</section>
				</article>