				<article>
					<header>
						<h3>Microsecond</h3>
						<a href="http://en.wikipedia.org/wiki/Microsecond">Read more about Microsecond</a>
					</header>
					<section>
						<p>A microsecond is an SI unit of time equal to one millionth (10<sup>−6</sup> or 1/1,000,000) of a second. Its symbol is μs. One microsecond is to one second as one second is to 11.574 days.</p>
						<p>A microsecond is equal to 1000 nanoseconds or 1/1,000 milliseconds. Because the next SI unit is 1000 times larger, measurements of 10<sup>−5</sup> and 10<sup>−4</sup> seconds are typically expressed as tens or hundreds of microseconds.</p>
					</section>
				</article>