				<article>
					<header>
						<h3>Mile</h3>
						<a href="http://en.wikipedia.org/wiki/Mile">Read more about Mile</a>
					</header>
					<section>
						<p>A mile is a unit of length most commonly equivalent to 5,280 feet (1,760 yards, or about 1,609 metres). The mile of 5,280 feet is sometimes called the statute mile or land mile to distinguish it from the nautical mile (about 6,076 feet, or 1,852 metres). There have also been many historical miles and similar units in other systems that may be translated into English as miles; they have varied in length from 1 to 15 kilometres.</p>
						<p>The exact length of the land mile varied slightly among English-speaking countries until the international yard and pound agreement in 1959 established the yard as exactly 0.9144 metres, giving a mile of exactly 1,609.344 metres. The United States adopted this international mile for most purposes, but retained the pre-1959 mile for some land-survey data, terming it the U.S. survey mile. In the United States, statute mile formally refers to the survey mile, about 3.2 mm (? inch) longer than the international mile (the international mile is exactly 0.0002% less than the U.S. survey mile).</p>
						<p>Use of the mile as an official unit of measurement is now largely confined to the United Kingdom, the United States, and Canada.</p>
					</section>
				</article>