				<article>
					<header>
						<h3>Millimeter</h3>
						<a href="http://en.wikipedia.org/wiki/Millimeter">Read more about Millimeter</a>
					</header>
					<section>
						<p>The millimetre (International spelling as used by the International Bureau of Weights and Measures) or millimeter (American spelling) (SI unit symbol mm) is a unit of length in the metric system, equal to one thousandth of a metre, which is the SI base unit of length.</p>
						<p>It is equal to 1,000 micrometres and 1,000,000 nanometres. There are 25.4 mm in one inch.</p>
					</section>
				</article>