				<article>
					<header>
						<h3>Millisecond</h3>
						<a href="http://en.wikipedia.org/wiki/Millisecond">Read more about Millisecond</a>
					</header>
					<section>
						<p>A millisecond (from milli- and second; abbreviation: ms) is a thousandth (1/1,000) of a second. Its symbol is ms. One millisecond is to one second as one second is to 16.67 minutes.</p>
						<p>10 milliseconds (a hundredth of a second) are called a centisecond, commonly seen on many stopwatches but often mistaken for milliseconds.</p>
						<p>100 milliseconds (one tenth of a second) are called a decisecond.</p>
						<p>To help compare orders of magnitude of different times, this page lists times between 10<sup>−3</sup> seconds and 10<sup>0</sup> seconds (1 millisecond and one second). See also times of other orders of magnitude.</p>
					</section>
				</article>