				<article>
					<header>
						<h3>Petabit</h3>
						<a href="http://en.wikipedia.org/wiki/Petabit">Read more about Petabit</a>
					</header>
					<section>
						<p>The petabit is a multiple of the unit bit for digital information or computer storage. The prefix peta (symbol P) is defined in the International System of Units (SI) as a multiplier of 10<sup>15</sup> (1 quadrillion, short scale), and therefore</p>
						<p>1 petabit = 10<sup>15</sup>bits = 1000000000000000bits = 1000 terabits.</p>
						<p>The petabit has the unit symbol Pbit or Pb.</p>
						<p>The petabit is closely related to the pebibit, a unit multiple derived from the binary prefix pebi of the same order of magnitude, which is equal to 2<sup>50</sup>bits = 1125899906842624bits, or approximately 13% larger than the petabit.</p>
					</section>
				</article>