				<article>
					<header>
						<h3>Petabyte</h3>
						<a href="http://en.wikipedia.org/wiki/Petabyte">Read more about Petabyte</a>
					</header>
					<section>
						<p>The petabyte is a multiple of the unit byte for digital information. The prefix peta indicates the fifth power of 1000 and means 10<sup>15</sup> in the International System of Units (SI), and therefore 1 petabyte is one quadrillion (short scale) bytes, or 1 billiard (long scale) bytes. The unit symbol for the petabyte is PB.</p>
						<p>1 PB = 1000000000000000B = 10<sup>15</sup>bytes = 1000terabytes.</p>
						<p>A related unit, the pebibyte (PiB), using a binary prefix, means 1024<sup>5</sup>bytes, which is more than 12% greater than 1000<sup>5</sup>bytes (2<sup>50</sup> bytes = 1125899906842624bytes).</p>
					</section>
				</article>