				<article>
					<header>
						<h3>Square Kilometer</h3>
						<a href="http://en.wikipedia.org/wiki/Square_kilometer">Read more about Square Kilometer</a>
					</header>
					<section>
						<p>Square kilometre, symbol km<sup>2</sup>, is a decimal multiple of the SI unit of surface area, the square metre, one of the SI derived units. 1 km<sup>2</sup> is equal to:</p>
						<p>Note: "km<sup>2</sup>" means (km)<sup>2</sup>, square kilometre or kilometre squared and not k(m<sup>2</sup>), kilo–square metre. For example, 3 km<sup>2</sup> is equal to 3×(1,000m)<sup>2</sup> = 3,000,000 m<sup>2</sup>, not 3,000 m<sup>2</sup>.</p>
						<p>Note also that if a piece of land, say a large park, is described as five kilometres square, that means it has the shape of a square, each side of the square being five kilometres long. This means that the park has an area of twenty-five square kilometres (and not five square kilometres).</p>
					</section>
				</article>