				<article>
					<header>
						<h3>Square Foot</h3>
						<a href="http://en.wikipedia.org/wiki/Square_foot">Read more about Square Foot</a>
					</header>
					<section>
						<p>The square foot (plural square feet; abbreviated ft² or sq ft) is an imperial unit and U.S. customary unit (non-SI non-metric) of area, used mainly in the United States, Canada, United Kingdom, Hong Kong[citation needed], Bangladesh, India, Pakistan and Afghanistan[citation needed]. It is defined as the area of a square with sides of 1 foot (0.333... yards, 12 inches, or 0.3048 mtres) in length. For comparison, the average new one-family house in the United States in 2007 had a total floor area of approximately 2500 square feet (232 square meters).</p>
						<p>A symbol for square foot, square feet, and "per square foot" commonly used in architecture, real estate and interior space plans is a simple square with a vertical line bisecting it. It is also occasionally written as a square with a slash through it.</p>
					</section>
				</article>