				<article>
					<header>
						<h3>Square Meter</h3>
						<a href="http://en.wikipedia.org/wiki/Square_meter">Read more about Square Meter</a>
					</header>
					<section>
						<p>The square metre (Commonwealth spelling) or square meter (American spelling) is the SI derived unit of area, with symbol m<sup>2</sup> (33A1 in Unicode). It is defined as the area of a square whose sides measure exactly one metre. The square metre is derived from the SI base unit of the metre, which itself is defined as the length of the path travelled by light in absolute vacuum during a time interval of 1/299,792,458 of a second.</p>
						<p>Adding and subtracting SI prefixes creates multiples and submultiples; however, as the unit is squared, the order of magnitude difference between units doubles from their comparable linear units. For example, a kilometre is one thousand times the length of a metre, but a square kilometre is one million times the area of a square metre.</p>
					</section>
				</article>