				<article>
					<header>
						<h3>Square Mile</h3>
						<a href="http://en.wikipedia.org/wiki/Square_mile">Read more about Square Mile</a>
					</header>
					<section>
						<p>he square mile (abbreviated as sq mi and sometimes as mi2) is an imperial and US unit of measure for an area equal to the area of a square of one statute mile. It should not be confused with miles square, which refers to the number of miles on each side squared. For instance, 20 miles square (20 × 20 miles) is equal to 400 square miles; an area of 10 × 40 miles is likewise 400 square miles, but it is not 20 miles square.</p>
					</section>
				</article>