				<article>
					<header>
						<h3>Square Inch</h3>
						<a href="http://en.wikipedia.org/wiki/Square_inch">Read more about Square Inch</a>
					</header>
					<section>
						<p>A square inch (plural: square inches) is a unit of area, equal to the area of a square with sides of one inch. The following symbols are used to denote square inches:</p>
						<ul>
							<li>square in</li>
							<li>sq inches, sq inch, sq in</li>
							<li>inches/-2, inch/-2, in/-2</li>
							<li>inches^2, inch^2, in^2</li>
							<li>inches², inch², in²</li>
						</ul>
						<p>or in some cases "^2</p>
						<p>The square inch is a common unit of measurement in the United States and the United Kingdom.</p>
					</section>
				</article>