				<article>
					<header>
						<h3>Square Yard</h3>
						<a href="http://en.wikipedia.org/wiki/Square_yard">Read more about Square Yard</a>
					</header>
					<section>
						<p>The square yard is an imperial/US customary (non-metric) unit of area, formerly used in most of the English-speaking world but now generally replaced by the square metre outside of the U.S., Canada and the U.K. It is defined as the area of a square with sides of one yard (three feet, thirty-six inches, 0.9144 metres) in length. (Gaj in Hindi)</p>
					</section>
				</article>