				<article>
					<header>
						<h3>Terabyte</h3>
						<a href="http://en.wikipedia.org/wiki/Terabyte">Read more about Terabyte</a>
					</header>
					<section>
						<p>The terabyte is a multiple of the unit byte for digital information. The prefix tera represents the fourth power of 1000, and means 10<sup>12</sup> in the International System of Units (SI), and therefore is one terabyte is one trillion (short scale) bytes. The unit symbol for the terabyte is TB.</p>
						<p>1 TB = 1000000000000bytes = 10<sup>12</sup>bytes = 1000gigabytes.</p>
						<p>A related unit, the tebibyte (TiB), using a binary prefix, is the corresponding 4th power of 1024. One terabyte expressed using binary prefixes is about 0.910 tebibytes, or 931 gibibytes.</p>
					</section>
				</article>