				<article>
					<header>
						<h3>Terabit</h3>
						<a href="http://en.wikipedia.org/wiki/Terabit">Read more about Terabit</a>
					</header>
					<section>
						<p>A terabit is a multiple of the unit bit for digital information or computer storage. The prefix tera (symbol T) is defined in the International System of Units (SI) as a multiplier of 10<sup>12</sup> (1 trillion, short scale), and therefore</p>
						<p>1 terabit = 10<sup>12</sup>bits = 1000000000000bits = 1000 gigabits.</p>
						<p>The terabit has the unit symbol Tbit or Tb.</p>
						<p>The terabit is closely related to the tebibit, a unit multiple derived from the binary prefix tebi of the same order of magnitude, which is equal to 2<sup>40</sup>bits = 1099511627776bits, or approximately 10% larger than the terabit.</p>
					</section>
				</article>