				<article>
					<header>
						<h3>Week</h3>
						<a href="http://en.wikipedia.org/wiki/Week">Read more about Week</a>
					</header>
					<section>
						<p>A week is a time unit equal to seven days. It is the standard time period used for cycles of work days and rest days in most parts of the world.</p>
						<p>The term "week" is sometimes expanded to refer to other time units comprising a few days. Such "weeks" of between four and ten days have been used historically in various places. Intervals longer than 10 days are not usually termed "weeks" as they are closer in length to the fortnight or the month than to the seven-day week.</p>
					</section>
				</article>