				<article>
					<header>
						<h3>Yard</h3>
						<a href="http://en.wikipedia.org/wiki/Yard">Read more about Yard</a>
					</header>
					<section>
						<p>A yard (abbreviation: yd) is a unit of length in the imperial and United States customary systems of measurement. Historically a yard was also used in other systems of units. The yard is equal to 3 feet or 36 inches. Under an agreement in 1959 between Australia, Canada, New Zealand, South Africa, the United Kingdom and the United States, the yard (known as the "international yard" in the United States) was legally defined to be exactly 0.9144 metres. Prior to that date, the legal definition of the yard when expressed in terms of metric units varied slightly from country to country.</p>
					</section>
				</article>