<div class="main-container clearfix">
    <div class="wrapper">
		<div class="ad-style" style="width:970px; height: 90px; margin: 0 auto 20px;">970 x 90</div>
		<div class="sidebar-container left-sidebar">
			<div class="side-nav">
				<h3>All Converters<a href="#">(Collapse all)</a></h3>
				<ul class="converts-list">
					<li>
						<a href="#" class="active">Convert to Pound</a>
						<nav>
							<a href="#">Kilogram to Pound</a>
							<a href="#">Metric ton to Pound</a>
							<a href="#">Gram to Pound</a>
							<a href="#">Milligram to Pound</a>
							<a href="#">Mcg to Pound</a>
							<a href="#">Long ton to Pound</a>
							<a href="#">Short ton to Pound</a>
							<a href="#">Stone to Pound</a>
							<a href="#">Ounce to Pound</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Kilogram</a>
						<nav>
							<a href="#">Pound to Kilogram</a>
							<a href="#">Metric ton to Kilogram</a>
							<a href="#">Gram to Kilogram</a>
							<a href="#">Milligram to Kilogram</a>
							<a href="#">Mcg to Kilogram</a>
							<a href="#">Long ton to Kilogram</a>
							<a href="#">Short ton to Kilogram</a>
							<a href="#">Stone to Kilogram</a>
							<a href="#">Ounce to Kilogram</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Metric</a>
						<nav>
							<a href="#">Pound to Metric</a>
							<a href="#">Kilogram ton to Metric</a>
							<a href="#">Gram to Metric</a>
							<a href="#">Milligram to Metric</a>
							<a href="#">Mcg to Metric</a>
							<a href="#">Long ton to Metric</a>
							<a href="#">Short ton to Metric</a>
							<a href="#">Stone to Metric</a>
							<a href="#">Ounce to Metric</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Gram</a>
						<nav>
							<a href="#">Pound to Gram</a>
							<a href="#">Kilogram ton to Gram</a>
							<a href="#">Metric to Gram</a>
							<a href="#">Milligram to Gram</a>
							<a href="#">Mcg to Gram</a>
							<a href="#">Long ton to Gram</a>
							<a href="#">Short ton to Gram</a>
							<a href="#">Stone to Gram</a>
							<a href="#">Ounce to Gram</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Milligram</a>
						<nav>
							<a href="#">Pound to Milligram</a>
							<a href="#">Kilogram ton to Milligram</a>
							<a href="#">Metric to Milligram</a>
							<a href="#">Gram to Milligram</a>
							<a href="#">Mcg to Milligram</a>
							<a href="#">Long ton to Milligram</a>
							<a href="#">Short ton to Milligram</a>
							<a href="#">Stone to Milligram</a>
							<a href="#">Ounce to Milligram</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Mcg</a>
						<nav>
							<a href="#">Pound to Mcg</a>
							<a href="#">Kilogram ton to Mcg</a>
							<a href="#">Metric to Mcg</a>
							<a href="#">Gram to Mcg</a>
							<a href="#">Milligram to Mcg</a>
							<a href="#">Long ton to Mcg</a>
							<a href="#">Short ton to Mcg</a>
							<a href="#">Stone to Mcg</a>
							<a href="#">Ounce to Mcg</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Long ton</a>
						<nav>
							<a href="#">Pound to Long ton</a>
							<a href="#">Kilogram ton to Long ton</a>
							<a href="#">Metric to Long ton</a>
							<a href="#">Gram to Long ton</a>
							<a href="#">Milligram to Long ton</a>
							<a href="#">Mcg to Long ton</a>
							<a href="#">Short ton to Long ton</a>
							<a href="#">Stone to Long ton</a>
							<a href="#">Ounce to Long ton</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Short ton</a>
						<nav>
							<a href="#">Pound to Short ton</a>
							<a href="#">Kilogram ton to Short ton</a>
							<a href="#">Metric to Short ton</a>
							<a href="#">Gram to Short ton</a>
							<a href="#">Milligram to Short ton</a>
							<a href="#">Mcg to Short ton</a>
							<a href="#">Long ton to Short ton</a>
							<a href="#">Stone to Short ton</a>
							<a href="#">Ounce to Short ton</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Stone</a>
						<nav>
							<a href="#">Pound to Stone</a>
							<a href="#">Kilogram ton to Stone</a>
							<a href="#">Metric to Stone</a>
							<a href="#">Gram to Stone</a>
							<a href="#">Milligram to Stone</a>
							<a href="#">Mcg to Stone</a>
							<a href="#">Long ton to Stone</a>
							<a href="#">Short ton to Stone</a>
							<a href="#">Ounce to Stone</a>
						</nav>
					</li>
					<li>
						<a href="#" class="active">Convert to Ounce</a>
						<nav>
							<a href="#">Pound to Ounce</a>
							<a href="#">Kilogram ton to Ounce</a>
							<a href="#">Metric to Ounce</a>
							<a href="#">Gram to Ounce</a>
							<a href="#">Milligram to Ounce</a>
							<a href="#">Mcg to Ounce</a>
							<a href="#">Long ton to Ounce</a>
							<a href="#">Short ton to Ounce</a>
							<a href="#">Stone to Ounce</a>
						</nav>
					</li>
				</ul>
			</div>
		</div>
		<div class="middle-content">
			<h2>Weight Converter Pound to Kilogram</h2>
			<div class="converter-container">
				<section class="converter clearfix">
					<div class="metric-countainer" id="left-metric"><!-- add active class when clicked -->
						<select class="unit-selector" id="metric-type-left">
							<option value="Pound">Pound</option>
							<option value="Metric_ton">Metric ton</option>
							<option value="Kilogram">Kilogram</option>
							<option value="Gram">Gram</option>
							<option value="Milligram">Milligram</option>
							<option value="Mcg">Mcg</option>
							<option value="Long_ton">Long ton</option>
							<option value="Short_ton">Short ton</option>
							<option value="Stone">Stone</option>
							<option value="Ounce">Ounce</option>
						</select>
						<input type="text" class="metric-input" id="metric-input-left" value="1" />
					</div>
					<div class="middle-signs">
						<a href="#" class="swap-icon"></a>
						<span class="equal-icon">=</span>
					</div>
					<div class="metric-countainer" id="right-metric"><!-- add active class when clicked -->
						<select class="unit-selector" id="metric-type-right">
							<option value="Kilogram">Kilogram</option>
							<option value="Metric_ton">Metric ton</option>
							<option value="Gram">Gram</option>
							<option value="Milligram">Milligram</option>
							<option value="Mcg">Mcg</option>
							<option value="Long_ton">Long ton</option>
							<option value="Short_ton">Short ton</option>
							<option value="Stone">Stone</option>
							<option value="Pound">Pound</option>
							<option value="Ounce">Ounce</option>
						</select>
						<input type="text" class="metric-input" id="metric-input-right" value="0.453592" />
					</div>
				</section>
				<!--<div class="center"><a href="#" class="btn-convert" id="btn-convert-all"><span>Convert to All</span></a></div>-->
				<div class="center ad-style" style="width: 468px; margin: 0 auto 20px; height: 60px;">468 x 60</div>
				<div class="result-box center">
					<p>1 pound<span> is eqaul to </span>0.453592 Kilogram</p>
					<table colspan="0" cellpadding="0" border="0" width="100%">
						<!--
						<tr><td rowspan="10" class="main-metric">1 Pound =</td></tr>
						<tr class="colored"><td><span>0.453592</span><span>Kilogram</span></td></tr>
						<tr><td><span>0.000453592</span><span>Metric ton</span></td></tr>
						<tr class="colored"><td><span>453.592</span><span>Gram</span></td></tr>
						<tr><td><span>453592</span><span>Miligram</span></td></tr>
						<tr class="colored"><td><span>4.536e+8</span><span>Long ton</span></td></tr>
						<tr><td><span>0.000446429</span><span>Long ton</span></td></tr>
						<tr class="colored"><td><span>0.0005</span><span>Short ton</span></td></tr>
						<tr><td><span>0.0714286</span><span>Stone</span></td></tr>
						<tr class="colored"><td><span>16</span><span>Ounce</span></td></tr>
						-->
					</table>
				</div>
			</div>
			<div class="additional-info">
				<article>
					<header>
						<h3>Pound (currency)</h3>
						<a href="#">Read more about Pound</a>
					</header>
					<section>
						<p>The pound is a unit of currency in some nations. The term originated in Great Britain as the value of a pound (weight) of silver.</p>
						<p>The word pound is the English translation of the Latin word libra, which was the unit of account of the Roman Empire. The British pound derived from the Roman libra, which is why the pound (mass) is often initialised to 'lb'; along with the French livre, the Italian lira and the Portuguese Libra, when, during Middle Ages the European countries adopted the LSD system.</p>
						<p>The currency's symbol is £. Historically, £1 worth of silver coins were a troy pound in weight; as of April 2011 this amount of silver is worth approximately £300 sterling.</p>
						<p>Today, the term may refer to a number of (primarily British and related) currencies, and a variety of now-obsolete currencies. Some of them, those official in former Italian states and in countries formerly belonging to the Ottoman Empire, are called pound in English, while in the local languages their official name is lira.</p>
					</section>
				</article>
				<article>
					<header>
						<h3>Kilogram (Kg)</h3>
						<a href="#">Read more about Kilogram</a>
					</header>
					<section>
						<p>The kilogram or kilogramme (SI unit symbol: kg; SI dimension symbol: M), is the base unit of mass in the International System of Units (SI) and is defined as being equal to the mass of the International Prototype of the Kilogram (IPK).[2] The avoirdupois (or international) pound, used in both the Imperial system and U.S. customary units, is defined as exactly 0.45359237 kg, making one kilogram approximately equal to 2.2046 avoirdupois pounds.</p>
						<p>The gram was originally defined in 1795 as the mass of one cubic centimeter of water at 4°C, making the kilogram equal to the mass of one liter of water. The prototype kilogram, manufactured in 1799 and from which the current kilogram is based has a mass equal to the mass of 1.000025 liters of water.</p>
						<p>The kilogram is the only SI base unit with an SI prefix ("kilo", symbol "k") as part of its name. It is also the only SI unit that is still directly defined by an artifact rather than a fundamental physical property that can be reproduced in different laboratories. Four of the seven base units in the SI system are defined relative to the kilogram so its stability is important.</p>
					</section>
				</article>
			</div>
			<div class="center ad-style" style="padding: 30px 0;">
				Text advertising
			</div>
		</div>
		<div class="sidebar-container right-sidebar">
			<div class="ad-style inline-block" style="width: 200px; height: 200px; margin: 10px 0;"><img src="">200 x 200</div>
			<div class="ad-style inline-block" style="width: 200px; height: 200px; margin: 10px 0;"><img src="">200 x 200</div>
			<div class="ad-style inline-block" style="width: 200px; height: 200px; margin: 10px 0;"><img src="">200 x 200</div>
			<div class="ad-style inline-block" style="width: 160px; height: 600px; margin: 10px 0;"><img src="">600 x 160</div>
		</div>
	</div>
</div>