<!--{*$SiteData|@print_r*}-->
<!--{assign var = 'leftNav' value=$SiteData.weightPage.left_nav}-->
<!--{assign var = 'metricsFromList' value=$SiteData.weightPage.metricsFromList}-->
<!--{assign var = 'metricsToList' value=$SiteData.weightPage.metricsToList}-->
<!--{assign var = 'fromMetric' value=$SiteData.weightPage.fromMetric}-->
<!--{assign var = 'toMetric' value=$SiteData.weightPage.toMetric}-->			
<div class="main-container clearfix">
    <div class="wrapper">
		<div class="ad-style" style="width:970px; height: 90px; margin: 0 auto 20px;">
			<!-- top header - OC -->
			<ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px"
			     data-ad-client="ca-pub-4152473370252685"
			     data-ad-slot="9688373928"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
						
		</div>
		<div class="sidebar-container left-sidebar">
			<div class="side-nav">
				
				<h3>All Converters<a href="#">(Collapse all)</a></h3>
				<ul class="converts-list">
					<!--{foreach $leftNav as $nav}-->
					<li>
						<a href="#" class="active"><!--{$nav.title}--></a>
						<nav>
						<!--{foreach $nav.links as $link}-->
						<a href="<!--{$link.link}-->" title="<!--{$link.title}-->"><!--{$link.title}--></a>
						<!--{/foreach}-->
						</nav>
					</li>
					<!--{/foreach}-->
				</ul>
			</div>
		</div>
		<div class="middle-content">
			<h2>Simple easy to use weight conversion tool</h2>
			<h3>Weight Converter Pound to Kilogram</h3>
			<div class="converter-container">
				<section class="converter clearfix">
					<div class="metric-countainer" id="left-metric"><!-- add active class when clicked -->
						<select class="unit-selector" id="metric-type-left">
							<!--{foreach $metricsFromList as $metric}-->
							<option value="<!--{$metric.value}-->"<!--{if $metric.active}--> selected="selected"<!--{/if}-->><!--{$metric.text}--></option>
							<!--{/foreach}-->
						</select>
						<input type="text" class="metric-input" id="metric-input-left" value="1"  tabindex="1"/>
					</div>
					<div class="middle-signs">
						<a href="#" class="swap-icon"></a>
						<span class="equal-icon">=</span>
					</div>
					<div class="metric-countainer" id="right-metric"><!-- add active class when clicked -->
						<select class="unit-selector" id="metric-type-right">
							<!--{foreach $metricsToList as $metric}-->
							<option value="<!--{$metric.value}-->"<!--{if $metric.active}--> selected="selected"<!--{/if}-->><!--{$metric.text}--></option>
							<!--{/foreach}-->
						</select>
						<input type="text" class="metric-input" id="metric-input-right" value="0.453592"  tabindex="2"/>
					</div>
				</section>
				<!--<div class="center"><a href="#" class="btn-convert" id="btn-convert-all"><span>Convert to All</span></a></div>-->
				<div class="center ad-style" style="width: 468px; margin: 0 auto 20px; height: 60px;">
					
					<!-- 468 x 60 - oC -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:468px;height:60px"
					     data-ad-client="ca-pub-4152473370252685"
					     data-ad-slot="2165107120"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					
				</div>
				<div class="result-box center">
					<p>1 pound<span> is equal to </span>0.453592 Kilogram</p>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
					</table>
				</div>
			</div>
			<div class="additional-info">

				<!--{include file = $includeTemplate|cat:"weightWiki/$fromMetric.tpl.html"}-->
				<!--{include file = $includeTemplate|cat:"weightWiki/$toMetric.tpl.html"}-->
			</div>
			<div class="center ad-style" style="padding: 30px 0;">
				<!-- OC - text ad bottom -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:468px;height:60px"
				     data-ad-client="ca-pub-4152473370252685"
				     data-ad-slot="6455705925"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		<div class="sidebar-container right-sidebar">
			<div><a href="http://mexoinc.com"><img src="<!--{$imagePath}-->general/mexo-ad.png" alt="Mexo Inc Website Design &amp; Development"></a></div>
			<div class="ad-style inline-block" style="width: 200px; height: 200px; margin: 10px 0;">
				<!-- 200 x 200 - OC - 1 -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:200px;height:200px"
				     data-ad-client="ca-pub-4152473370252685"
				     data-ad-slot="3641840322"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="ad-style inline-block" style="width: 200px; height: 200px; margin: 10px 0;">
				<!-- 200 x 200 OC 2 second -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:200px;height:200px"
				     data-ad-client="ca-pub-4152473370252685"
				     data-ad-slot="4978972723"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="ad-style inline-block" style="width: 200px; height: 200px; margin: 10px 0;">
			</div>
			<div class="ad-style inline-block" style="width: 160px; height: 600px; margin: 10px 0;">
			</div>
		</div>
	</div>
</div>
